@using ComputerisedAssingment.ModelEntity
@{
    List<Users> studentsdata = ViewBag.Studentsdata;
    ViewData["Title"] = "Students";
    Layout = "~/Views/Shared/_Layout_Users.cshtml";
}

<div class="container-fluid" style="margin-top: 8%;">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body row">
                    <div class="col-md-4" style="border-right: 1px solid rgba(0,0,0,.125);">
                        <div class="col-md-6 offset-md-4">
                            <br />
                            <a asp-area="" asp-controller="Teacher" asp-action="Upload">
                                Upload
                                <br />
                                <br />
                            </a>
                            <a asp-area="" asp-controller="Teacher" asp-action="View">
                                View
                                <br />
                                <br />
                            </a>
                            <a asp-area="" asp-controller="Teacher" asp-action="Submitted">
                                Submitted
                                <br />
                                <br />
                            </a>
                            <a asp-area="" asp-controller="Teacher" asp-action="Students">
                                Students
                            </a>
                        </div>
                    </div>

                    <div class="col-md-8"> 
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var i in studentsdata)
                                {
                                    <tr> 
                                        <td>@i.UniqueId</td>
                                        <td>@i.FullName</td> 
                                    </tr> 
                                    }
                                </tbody> 
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 